/*CSS for ClockLife*/

/*-----------------------------------Terms----------------------------------*/
/*.container_'...' 	= a container holding entirety of clock					*/
/*.display_'...' 	= universal attributes per clock						*/
/*.hour_'...' 		= displays hour of day									*/
/*.minute_'...' 	= displays minute of day								*/
/*.second_'...' 	= displays second of day								*/
/*.dotdot_'...' 	= displays colon between hours and minutes				*/
/*AMPM_'...' 		= displays AM or PM correlating with the hour of day	*/
/*--------------------------------------------------------------------------*/

/*--------------------------------Clock Types-------------------------------*/
/*'...'_spinner 	= hours and minutes rotate to show digital and analog	*/
/*						style clock movement								*/
/*--------------------------------------------------------------------------*/

/***********************/
/*Spinner Clock Styling*/
/***********************/
.container{
	position: relative;
	margin: auto;
	margin-top: 50px;
}

.container_spinner{
	height: 100px;
	width: 375px;
}

.display_spinner{
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	font-family: 'Quicksand', sans-serif;
}

.hour_spinner{
	height: 100px;
	width: 100px;
	left: 0px;
	line-height: 100px;
	font-size: 72px;
	text-align: center;
	color: #00028a;
	font-weight: 900;
	background: -webkit-linear-gradient(bottom, #00028a, white);
	background: -o-linear-gradient(bottom, #00028a, white);
	background: -moz-linear-gradient(bottom, #00028a, white);
	background: linear-gradient(bottom, #00028a, white);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.minute_spinner{
	height: 100px;
	width: 100px;
	left: 125px;
	line-height: 100px;
	font-size: 72px;
	text-align: center;
	color: #b20000;
	font-weight: 900;
	background: -webkit-linear-gradient(bottom, #b20000, white);
	background: -o-linear-gradient(bottom, #b20000, white);
	background: -moz-linear-gradient(bottom, #b20000, white);
	background: linear-gradient(bottom, #b20000, white);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*.second_spinner{
	width: 75px;
	left: 225px;
	font-size: 38px;
	line-height: 42px;
	text-align: left;
	color: purple;
}*/

.dotdot_spinner{
	width: 25px;
	height: 100px;
	font-size: 60px;
	line-height: 100px;
	left: 100px;
	font-weight: 900;
	text-align: center;
	color: orange;
}

.AMPM_spinner{
	height: 50px;
	width: 75px;
	left: 275px;
	line-height: 50px;
	font-size: 48px;
	text-align: center;
	color: #004c00;
	font-weight: 900;
	background: -webkit-linear-gradient(bottom, #004c00, white);
	background: -o-linear-gradient(bottom, #004c00, white);
	background: -moz-linear-gradient(bottom, #004c00, white);
	background: linear-gradient(bottom, #004c00, white);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


/**********************/
/*Analog Clock Styling*/
/**********************/

.container_analog{
	height: 200px;
	width: 200px;
}

.hour_analog{
	height: 100px;
	width: 100px;
	background-color: transparent;
	border-radius: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.hourHand_analog{
	height: 50%;
	width: 5px;
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 100;
}

.minute_analog{
	height: 200px;
	width: 200px;
	background-color: transparent;
	border-radius: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.minuteHand_analog{
	height: 50%;
	width: 5px;
	background-color: gray;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.second_analog{
	height: 150px;
	width: 150px;
	background-color: transparent;
	border-radius: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.secondHand_analog{
	height: 50%;
	width: 3px;
	background-color: red;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 200;
}

.pin_analog{
	height: 12px;
	width: 12px;
	background-color: purple;
	border-radius: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 300;
}

.twelve_analog{
	height: 9px;
	width: 9px;
	background-color: cyan;
	border-radius: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: -100;
}

.three_analog{
	height: 9px;
	width: 9px;
	background-color: cyan;
	border-radius: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: -100;
}

.six_analog{
	height: 9px;
	width: 9px;
	background-color: cyan;
	border-radius: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: -100;
}

.nine_analog{
	height: 9px;
	width: 9px;
	background-color: cyan;
	border-radius: 100%;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: -100;
}